html {
      scroll-behavior: smooth;
    }

body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #121212;
      color: #e0e0e0;
    }

    header {
      background-color: #1f1f1f;
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    }

    .competence{
        background-color: #1e1e1e;
        padding: 10px;
        border-radius: 8px;
        margin: 20px;
    }

    .competence:hover {
        background-color: #2a2a2a;
    }

    h1 {
      margin: 0;
      font-size: 2.5rem;
      color: #ffffff;
    }

    nav {
      margin-top: 10px;
    }

    nav a {
      color: #9f9f9f;
      text-decoration: none;
      margin: 0 15px;
      display: inline-block;
      transition: color 0.3s;
    }

    nav a:hover {
        color: #ffffff;
        transform: translateY(-2px);
    }

    main {
      padding: 40px;
      max-width: 900px;
      margin: auto;
    }

    section {
      margin-bottom: 40px;
    }

    h2 {
      color: #ffffff;
    }

    .project {
      background-color: #1e1e1e;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .project:hover {
        background-color: #2a2a2a;
    }

    footer {
      background-color: #1f1f1f;
      text-align: center;
      padding: 20px;
      color: #888;
    }